// ------configs------ //
@default_color: #1c4489;


// ------base------ //

* {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

div[class|="col"] {
  transition: all 0.5s ease;

  &:hover {
    // font-size: larger;
    // margin-top: -40px;
    // margin-bottom: -40px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
     transform: scale(1.2); 
  }
}

// ------layout------ //

header {
  .logo {
    padding: 40px;
    width: 100%;
  }

  .navbar {
    background-color: @default_color;
    border: none;
    margin-bottom: 0;

    .navbar-toggle {
      float: none; 
    }

    .nav {
      &>li {
        width: 0;
        padding: 0px 16px;
      }

      a {
        color: #fff;
        text-transform: uppercase;
        padding: 20px 9px 15px;
        border-bottom: 5px solid @default_color;
        background-color: inherit;

        &:focus, &:hover {
          background: none;
          border-bottom-color: #115fd4;
        }
      }

      .dropdown-menu {
        background-color: #133166;
        width: 620px;
        border-bottom: 5px solid @default_color;
        padding: 10px;

        .nav {
          float: left;
        }

        .dropdown-header {
          font-size: 14px; 
          color: #fff;
          text-transform: uppercase;
          padding: 20px;
          text-align: left;
        }

        li {
          text-decoration: none;
          width: 100%;

          a {
            border-bottom-color: #133166;
            text-align: left;
            padding: 5px;

            &:focus, &:hover {
              border-bottom-color: #115fd4;
            }
          }
        }

        button {
          background-color: transparent;
          width: 100%;
          padding: 10px;
          border-radius: 0;
          border: 1px solid #fff;
          margin: 5px;
          text-transform: uppercase;

          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }

  .describe {
    background-image: url(../img/heade-bg.jpg);
    background-color: @default_color;
    background-size: cover;
    padding: 20px 0 180px;
    margin-bottom: 0;

    .btn {
      background: none;
      border-radius: 0;
      border-color: #fff;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

// main part  //
.numbers {
  background-color: @default_color;
  padding-top: 80px;
  padding-bottom: 80px;

  .num {
    font-size: 60px;
  }

  h3 {
    margin: 0;
  }
}

.benefits {
  padding-top: 30px;
  padding-bottom: 50px;

  h2, h4, i {
    color: #1e4388;
  }

  h2 {
    margin-bottom: 60px;
  }

  h4 {
    margin: 20px;
  }

  p {
    color: #000;
  }
}

.testimonials {
  background-image: url(../img/testemonials-bg.jpg);
  background-color: @default_color;
  background-size: cover;
  margin-bottom: 0;

  .arrow {
    background: none;
    border-color: #fff;
    border-radius: 0;
    color: #fff;
    margin: 0 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  h2 {
    margin: 0 auto 60px;
  }

  p {
    margin: 20px auto;
  }
}

.callback {
  background-color: #115fd4;
  padding-bottom: 50px;
  text-transform: uppercase;

  h2 {
    margin: 30px;
  }

  input {
    margin: 10px;
    color: #115fd4;
  }

  button {
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background-color: #115fd4;
    padding: 15px;

    &:hover {
      background-color: #fff;
      color: #115fd4;
    }
  }
}

.map {
  background-image: url(../img/map.jpg);
  background-color: @default_color;
  background-size: cover;
  background-position: center;
  height: 350px;
}

footer {
  background: #000;
  padding: 30px 0 75px;

  p {
    margin: 10px 150px 10px;
  }
  &:last-child {
    font-family: 'Lato', sans-serif;
  }
}

// ------module------ //

#toTop {
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    overflow: hidden;
    border: none;
    color: @default_color;
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 38px;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.for-ie{
  display: none;
}

// ------state------ //

.dropdown-menu {
  display: none;

  &:hover {
    display: block;
  }
}

@media (max-width: 1499px){
  header>.navbar {
    .nav>li {
      padding: 0px 23px;
    }
  }
}

@media (max-width: 1199px){
  header>.navbar {
    .nav>li {
      padding: 0px 1px;

      .dropdown-menu li {
        padding: 0px 16px;
      }
    }
  }
}


@media (max-width: 991px){
  header .navbar .dropdown-menu li {
    float: left;
    width: 25%;
    margin: 0;

    a {
      padding: 20px 5px;
    }
  }

  footer p {
    margin: 0 20px;
  }

  label {
    display: block;
    
    &:nth-child(3) {
      padding-right: 64px;
    }
  }
}

@media (max-width: 767px){
  header .navbar .nav>li {
    width: 100%;
  }

  footer p {
    margin: 0 20px;
  }
}

@media (max-width: 640px){
  .logo img {
    width: 100%;
  }
}

@media (max-width: 479px){
  .col-xs-6 {
    width: 100%;
    margin: 10px 0;
  }

  .numbers {
    padding: 20px;
  }

  .testimonials {
    .hiden-block {
      display: none;
    }
  }

  .callback {

    label {
      
      &:nth-child(3) {
        padding-right: 0;
      }

      input {
        width: 100%;
        margin: 0;
      }
    }
  }

  footer {
    padding: 20px;

    .hiden-block {
      display: none;
    }
  }
}